white-bg{
    -fx-background-color: #fff;
}
.btn{
    -fx-background-color: linear-gradient(to bottom right,#ff0008,#ae2121);
    -fx-cursor: hand;
    -fx-text-fill: #fdfdfd;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}
.btn:hover{
    -fx-background-color: linear-gradient(to bottom right,#c23a3a,#A92D4F); ;
}
.textfield{
    -fx-border-color: #000000;
    -fx-border-width: .5px;
}
.textfield:focused{
    -fx-border-color: linear-gradient(to bottom right,#dd0f0f,#ae2121);
    -fx-border-width: .8px;
}

.menubtn{
    -fx-background-color: #2c2c2c;
    -fx-cursor: hand;
    -fx-text-fill: #e1e2e3;
    -fx-font-size: 14px;
    -fx-font-family: "Roboto Bold";
}
